/* Global Site Attributes */

body {
	font-family: sans-serif;
	background: white;
}

/* Header For Site and Posts */

header {
	color: black;
	background: gray;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

/* Sidebar */

aside {
	width: 200px;
    color: gray;
    background: black;
}

nav {
	color: white;
}

nav a:link {
    display: block;
    text-decoration: none;
    padding: 0.5em;
    font-weight: bold;
    font-size: medium;
    margin-left: 20px;
    margin-bottom: 2px;
    color: white;
}

nav a:visited {
    color: white;
}

nav a:active {
    color: white;
}

nav a:hover {
    background: white;
    text-decoration: none;
    color: black;
}

/* The Content Container */

#content {
	margin-left: 200px;
	color: black;
}

/* Posts */

article {
	margin: 2em;
	padding: 10px;
	border-color: black;
	border-bottom-style: solid;
	border-width: 1px;
}

article a:link { 
	background: transparent none;
	text-decoration: none;
	color: blue; 
} 

article a:visited { 
	background: transparent none; 
	text-decoration: none; 
	color: purple; 
}

article a:active { 
	background: transparent none; 
	text-decoration: none; 
	color: yellow; 
}

article a:hover { 
	background: transparent none; 
	text-decoration: none;
	color: fuchsia; 
}

/* Footer for site and posts */

footer {
	text-align: center;
	color: white;
	background: black;
}
